/* LAYOUT */

body { 
  background-image: url("/img/bgAscent.jpg");
  background-size: 100% auto;

  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.window-body * {
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 1rem;
}

.window-body h1, h2, h3, h4 {
  font-size: 1.2rem;
}
