<a class="button" href="https://lavenderfield.xyz/">
  <img src="/88x31/lavenderfield.xyz.gif" alt="lavenderfield.xyz 88x31 button"/>
</a>
<a class="button" href="https://ata.moe">
  <img src="/88x31/ata.moe.png" alt="ata.moe 88x31 button">
</a>
<a class="button" href="https://noe.sh">
  <img src="/88x31/noe.sh.png" alt="noe.sh 88x31 button">
</a>
<a class="button" href="https://palaiologos.rocks">
  <img src="/88x31/palaiologos.rocks.png" alt="palaiologos.rocks 88x31 button">
</a>
<a class="button" href="https://nanoshinono.me">
  <img src="/88x31/nanoshinono.me.gif" alt="prefetcher's 88x31 button">
</a>
<a class="button" href="https://myocore.neocities.org">
  <img src="/88x31/myocore.gif" alt="myocore's 88x31 button">
</a>

